.image {
    position: relative;
    background: url('https://res.cloudinary.com/media-cloud-dw/image/upload/v1638560298/Portfolio-Website/MainParallaxBackgroundLower_qhxg10.png') no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 90vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 1em;
    filter: brightness(100%) saturate(100%);
    transition: filter 0.5s;

    &:hover {
        filter: brightness(70%) saturate(70%);
        button {
            display: block;
        }
        transition: filter 0.5s;
    }

    button {
        padding: 1em;
        border: 2px black solid;
        background-color: #fde7f9;
        background-image: linear-gradient(315deg, #fde7f9 0%, #aacaef 74%);
        filter: brightness(100%) saturate(100%) !important;
        border-radius: 30px;
        cursor: pointer;
        display: none;

        &:hover {
            box-shadow: inset -5rem 0px #fee2f8,
                        inset 5rem 0px #fee2f8;
            transition: box-shadow 0.5s;
        }
    }
}

.navbar {
    width: 100%;
    background-color: white;
    height: 10vh;
}

.more_info_section {
    width: 100%;
    background-color: white;
    height: 30vh;

    .mi_flex_button {
        display: flex;
        justify-content: center;
    }

    .mi_button {
        position: relative;
        background-color: rgb(240, 240, 240);
        padding: 1em;
        border: 1.5px black solid;
        border-radius: 20px;
        font-family: sans-serif;
        cursor: pointer;
        margin-top: calc(15vh - 2em);
        background-color: #e3efe8;
        background-image: linear-gradient(315deg, #e3efe8 0%, #96a7cf 74%);

        box-shadow: none;
        transition: box-shadow 0.5s;

        &:hover {
            box-shadow: inset -45px 0px #ffffff,
                        inset 45px 0px #ffffff;
            transition: box-shadow 0.5s;
        }
    }

}

.divider {
    background-color: black;
    width: 100%;
    height: 3px;
}

.sec_content {
    position: relative;
    top: 20px;  
}

//Phone Portrait
@media screen and (min-width: 320px) and (max-width: 480px) {
    .image {
        width: 100vmax;
        height: 60vh;
        background: url('https://res.cloudinary.com/media-cloud-dw/image/upload/v1638811926/Portfolio-Website/BGs/bg6_xm4fug.png') no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
    }

    .divider {
        width: 100vmax;
    }
}

//Phone Landscape
@media screen and (max-width: 480px) {
  
}

//Tablet Portrait & Landscape
@media screen and (min-width: 768px) and (max-width: 1024px) {
  
}

//Tablet Portrait
@media screen and (min-width: 768px) {
  
}

//Tablet Landscape
@media screen and (max-width: 1024px) {
  
}

//Desktop
@media screen and (min-width: 1224px) {
  
}

//Large Desktop
@media screen and (min-width: 1824px) {
  
}